<html lang="en">
    <%- include('./partials/frontHead.ejs')  %> 
<body>
    <script src="../js/p5.js"></script>

    <script>
        const languageEn = <%- JSON.stringify(language[0]) %> ;
        const languageJp = <%- JSON.stringify(language[1]) %> ;
        const aniName = <%- JSON.stringify(pedal.animation) %> ;
        const colName = <%- JSON.stringify(pedal.color) %> ;
        const allAnima = <%- JSON.stringify(animation) %> ;
        const nav = <%- JSON.stringify(nav) %> ;

        var colorValue; var theAnima;
        for ( var a = 0; a < allAnima.length; a++ ) {
          if ( allAnima[a].slug == aniName) {
            for (var c = 0; c < allAnima[a].colors.length; c++ ) {
              if (allAnima[a].colors[c].colkey == colName ) {
                colorValue = allAnima[a].colors[c].value;
              }
            }
            theAnima = allAnima[a];
            break;
          }
        }
      </script>
      <script type="text/javascript" src="../js/language.js"></script>
      <script type="text/javascript" src="../js/iEAlert.js"></script>

      <%- include('./partials/frontPlayer.ejs')  %> 
      <%- include( `./animations/${ pedal.animation }.ejs`)  %> 
</body>
</html>